POSTGRES_PASSWORD=replace-with-a-random-password
TOKEN_ENCRYPTION_KEY=generate-with-python-fernet
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
PUBLIC_URL=http://localhost:5173
PIP_INDEX_URL=https://pypi.tuna.tsinghua.edu.cn/simple
